.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  max-width: 65%;
  margin-left: 11%;
  margin-top: 7.5%;
}
.content__title {
  font-family: "Inter-black", Arial, sans-serif;
  font-size: 54px;
  line-height: 1.1;
  margin: 0;
}
.content__quote {
  font-size: 24px;
  line-height: 1.4;
  margin-top: 4%;
  margin-bottom: 0;
}
.content__quote-author {
  font-size: 24px;
  line-height: 1.4;
  margin-top: 1.5%;
  margin-bottom: 0;
  text-align: right;
  width: 88%;
}
.content__text {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 4%;
  margin-bottom: 0;
  width: 88%;
}
@media screen and (max-width: 1024px) {
  .content {
    max-width: 95.5%;
    margin: auto;
    margin-top: 7.5%;
  }
  .content__title {
    font-size: 45px;
    max-width: 710px;
  }

  .content__quote {
    max-width: 740px;
  }

  .content__quote-author {
    width: 100%;
  }
  .content__text {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .content {
    margin-top: 20%;
  }
  .content__title {
    font-size: 32px;
  }

  .content__quote {
    margin-top: 14%;
  }

  .content__quote-author {
    margin-top: 4%;
  }

  .content__text {
    margin-top: 11%;
    margin-bottom: 10%;
  }
}
