.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  max-width: 65%;
  margin-left: 11%;
  margin-top: 7.5%;
}
.main__title {
  font-family: "Inter-black", Arial, sans-serif;
  font-size: 54px;
  line-height: 1.1;
  margin: 0;
}
.main__quote {
  font-size: 24px;
  line-height: 1.4;
  margin-top: 4%;
  margin-bottom: 0;
}
.main__quote-author {
  font-size: 24px;
  line-height: 1.4;
  margin-top: 1.5%;
  margin-bottom: 0;
  text-align: right;
  width: 88%;
}
.main__text {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 4%;
  margin-bottom: 0;
  width: 88%;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 1280px;
  margin-top: 10%;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.photo-grid__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.places-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4%;
  margin-top: 7%;
  margin-left: 11%;
  margin-right: 11%;
}

.places-container__title {
  grid-column: 1;
  font-family: "Inter-black", Arial, sans-serif;
  font-size: 72px;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 8.5%;
}

.places-container__image-buttom {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
}

.places-container__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.places-container__image:hover {
  opacity: 0.5;
}

.places-container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 289px;
  max-height: 48px;
  grid-column: 1;
  grid-row: 3;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 10%;
  padding: 13px 20px 13px 20px;
  background: linear-gradient(to right, #0278fe, #003a7b);
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.places-container__button:hover {
  background: rgba(2, 120, 254, 0.25);
}

.places-container__artist-container {
  grid-column: 2;
  grid-row: 1;
  height: fit-content;
  align-self: end;
  margin-bottom: 8.5%;
}

.places-container__artist {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  color: #aaa;
  margin: 0;
  margin-bottom: 2%;
}

.places-container__artist-credits {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

.places-container__description-container {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
}

.places-container__description {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 5%;
}

@media screen and (max-width: 1024px) {
  .main {
    max-width: 95.5%;
    margin: auto;
    margin-top: 7.5%;
  }
  .main__title {
    font-size: 45px;
    max-width: 710px;
  }

  .main__quote {
    max-width: 740px;
  }

  .main__quote-author {
    width: 100%;
  }
  .main__text {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .main {
    margin-top: 20%;
  }
  .main__title {
    font-size: 32px;
  }

  .main__quote {
    margin-top: 14%;
  }

  .main__quote-author {
    margin-top: 4%;
  }

  .main__text {
    margin-top: 11%;
    margin-bottom: 10%;
  }
}
